<html>
    
    <head>
        <title>Home | Viserion</title>
    </head>
    
    <body>
        
        <p>Hello, <%= username %></p>
        
        </br>
        
        <a href="/downloadfile">Download File</a>
        
    </body>
    
    
    
    
</html>