<html>
    
    <head>
        <title>Home | Viserion</title>
    </head>
    
    <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaBozIh11qnTLJSqgR6Gpm27vgwgsEj1xRwhGEaCvZ0n6YD4-ucQ"><center>
        <div  style="background:#cccccc; width:200px" >
        
        <p>Hello, <%= username %></p>
        
        </br>
        
        <p>Your UIN is: <%= uid %></p>
        
        
        </div>
        </center>
    </body>
    
    
    
    
</html>