<html>
    
    <head>
        <title>Home | Viserion</title>
    </head>
    
    <body background="https://blog.fscom.co.uk/hubfs/data%20transfer.jpeg?t=1524231114323" style="background-size: 100%;background-repeat: no-repeat;"><center>
        <div class="container" style="margin-top:100px;">
        <div class="mx-auto" style="width:200px;background:#bbbbbb">
        <div  style="background:#cccccc; width:200px" >
        
        <p>Team Viserion | JCI White Paper Competition</p>
        
        <p>Hello, <%= username %></p>
        
        </br>
        
        <p>Your UID is: <%= uid %></p>
        
        
        </div>
        </center>
        </div>
        </div>
    </body>
    
    
    
    
</html>