<html>
    
    <head>
        <title>Signup | Viserion</title>
    </head>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    
    <body background="https://thumbs.dreamstime.com/b/data-transfer-flat-illustration-design-style-modern-vector-concept-two-computers-wireless-connected-transferring-various-37430189.jpg">
        <div class="container" style="margin-top:100px;">
        <div class="mx-auto" style="width:200px;background:#bbbbbb">
        <center>
        <form action="/signup" method="POST" >
            <label>Email:</label>
            <input type="email" name="email"/>
            
            </br>
            <label>Name:</label>
            <input type="text" name="name"/>
            
            </br>
            <label>Username:</label>
            <input type="text" name="username"/>
            
            </br>
            <label>Password:</label>
            <input type="password" name="password"/>
            
            </br>
            <input type="submit" value="Sign Up!"/>
            
        </form>
        </center>
        </div>
        </div>
    </body>
    
    
</html>